@media screen and (max-width: 1920px){
    body .topbar{
        display: flex;
        justify-content: space-between;
        background-color: #444444;
        width: 96rem;
        height: 5rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
        box-shadow: 0px 2px 5px rgba(29, 29, 29, 0.5);
    }
    
    .logo{
        height: 5rem;
        width: 4rem;
        margin-left: 0.7rem;
    }
    
    .topbar div{
        margin-top: 1rem;
        font-family: 'Nunito',serif;
    }
    
    .topbar .inisesion{
        color:rgba(0, 255, 255, 0.697);
        margin-right: 2rem;
    }

    .Cursos {
        font-family: 'Nunito',serif;
    }

    .Curso1{
        background-color: #FF8B00;
        width: 80rem;
        height: 10rem;
        margin-left: 8rem;
        margin-top: 3rem;
        border-radius: 11px;
    }
}

@media screen and (max-width: 1366px){
    body .topbar{
        display: flex;
        justify-content: space-between;
        background-color: #444444;
        width: 85.35rem;
        height: 5rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
        box-shadow: 0px 2px 5px rgba(29, 29, 29, 0.5);
    }
    
    .logo{
        height: 5rem;
        width: 4rem;
        margin-left: 0.7rem;
    }
    
    .topbar div{
        font-family: 'Nunito',serif;
        margin-top: 1.5rem;
    }
    .topbar .material-icons{
        width: 2rem;
        transform: 0px 0px;
        color: #ff7700;
    }

    .topbar .inisesion{
        color:#ff7700;
        margin-right: 2rem;
        
    }
}




