body .topbar{
    background-color: #444444;
    width: 85.4rem;
    height: 5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
    box-shadow: 0px 2px 5px rgba(29, 29, 29, 0.5);
}

.logo{
    height: 5rem;
    width: 4rem;
    margin-left: 0.7rem;
}