body {
    background-image: url(../../resources/fondo.png);
    background-size: 100%;
}

.logo:hover{
    cursor: pointer;
}

body .topbar{
    display: flex;
    justify-content: center;
    background-color: #444444;
    width: 100%;
    height: 5rem;
    margin-left: -0.5rem;
    margin-top: -1rem;
    box-shadow: 0px 2px 5px rgba(29, 29, 29, 0.5);
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.481);
}

.tarjetareg{
    display: flex;
    flex-direction: row;
    background-color: #444444;
    width: 85%;
    height: 27rem;
    margin-top: 5rem;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(56, 54, 56, 0.212);
}

.flexbox{
    display: flex;
}

@keyframes arrimba{
    0% {transform: translateY(4rem) translateX(-4.2rem) scale(0.6);}
    100% {transform: translateY(2rem) scale(1);}
}

@keyframes arrimba2{
    0% {transform: translateY(4rem) translateX(-4.2rem) scale(0.6);}
    100% {transform: translateY(2rem) scale(1);}
}

@keyframes arrimba3{
    0% {transform: translateY(4rem) translateX(-4.2rem) scale(0.6);}
    100% {transform: translateY(2rem) scale(1);}
}

@keyframes arrimba4{
    0% {transform: translateY(4rem) translateX(-4.2rem) scale(0.6);}
    100% {transform: translateY(2rem) scale(1);}
}

.funcionactive{
    animation-name: arrimba;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.funcionactive2{
    animation-name: arrimba2;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.funcionactive3{
    animation-name: arrimba3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.funcionactive4{
    animation-name: arrimba4;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.Nombre{
    font-family: 'Nunito',serif;
    margin-left: 5.4rem;
    font-weight: bolder;
    font-size: 25px;
    pointer-events: none;
    transform: translateY(4rem) translateX(-4.2rem) scale(0.6);
    margin-top: -0.5rem;
    color: #ff8c00db;
}

#name{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 5.4rem;
    font-family: 'Nunito',serif;
    font-size: large;
    width: 80%;
    height: 2.2rem;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-color: #ff8c00db;
    background-color: transparent;
    outline: none;
}



.Apellidos{
    margin-top: 0rem;
    font-family: 'Nunito',serif;
    margin-left: 5.4rem;
    font-weight: bolder;
    font-size: 25px;
    transform: translateY(4rem) translateX(-4.2rem) scale(0.6);
    color: #ff8c00db;
    pointer-events: none;
}

.bttm{
    position: absolute;
    margin-left: 9rem;
    margin-top: 3rem;
    transform: translateY(5rem) translateX(3rem);
    font-family: 'Nunito',serif;
    background-color: #ff8c00db;
    text-align: center;
    color: rgb(255, 246, 236);
    border-radius: 0.6rem;
    text-decoration: none;
    width: 10rem;
    height: 4rem;
    border:none;
    cursor:pointer;
}
.textbttn{
    margin-top: 1rem;
    color: #2c2c2c;
    font-weight: bolder;
    font-size: large;
}
.fpswrd{

    margin-top: 9.5rem;
    margin-left: 7.3rem;
    font-family: 'Nunito',serif;
    color: #ff8c00db;
    cursor: help;
}

#surname{
    color: rgb(255, 255, 255);
    margin-left: 5.4rem;
    font-family: 'Nunito',serif;
    font-size: large;
    width: 80%;
    height: 2.2rem;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    background-color: transparent;
    outline: none;
    border-color: #ff8c00db;
}



.lineamedio{
    height: 27rem;
    width: 1%;
    background-color: #787373;
    border-radius: 5px;
    margin-left: 19.7rem;
    margin-top: 1rem;
}

.info{
    font-weight: bolder;
    font-size: 29px;
    font-family: 'Nunito',serif;
    color: #ff8c00db;
    margin-top: 2rem;
    margin-left: 1.8rem;
    text-decoration: underline;
    
}

.two{
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    margin-right: 0.5rem;
}

.Correo{
    font-family: 'Nunito',serif;
    margin-left: 5.4rem;
    font-weight: bolder;
    font-size: 25px;
    pointer-events: none;
    transform: translateY(4rem) translateX(-4.2rem) scale(0.6);
    margin-top: -0.5rem;
    color: #ff8c00db;
}

#mail{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 5.4rem;
    font-family: 'Nunito',serif;
    font-size: large;
    width: 80%;
    height: 2.2rem;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-color: #ff8c00db;
    background-color: transparent;
    outline: none;
}

.documentodeidentidad{
    font-family: 'Nunito',serif;
    margin-left: 5.4rem;
    font-weight: bolder;
    font-size: 25px;
    pointer-events: none;
    transform: translateY(4rem) translateX(-4.2rem) scale(0.6);
    margin-top: -0.5rem;
    color: #ff8c00db;
}

#id{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 5.4rem;
    font-family: 'Nunito',serif;
    font-size: large;
    width: 80%;
    height: 2.2rem;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-color: #ff8c00db;
    background-color: transparent;
    outline: none;
}



/*PANTALLA RESOLUCION ANCHO 1920*/

@media screen and (max-width: 1920px){

    body .topbar{
        padding: 8px;
    }

    .container{
        padding-bottom: 7rem;
    }

    .tarjetareg{
        height: 35rem;
    }

    #usr {
        width: 70%;
        margin-left: 5.5rem;
    }

    #pswrd {
        width: 70%;
        margin-left: 5.5rem;
    }

    .bttm {
        margin-top: 10rem;
        margin-left: 12rem;
        width: 15rem;
        height: 6rem
    }

    .fpswrd{
        margin-top: 22rem;
        margin-left: 13rem;
    }
}

/*PANTALLA RESOLUCION ANCHO 1680*/

@media screen and (max-width: 1680px){

    body .topbar{
        padding: 8px;
    }

    .container{
        padding-bottom: 5rem;
    }

    .tarjetareg{
        height: 30rem;
    }

    .Nombre{
        transform: translateY(4rem) translateX(-3rem) scale(0.7);
    }

    #name{
        width: 100%;
        margin-left: 6rem;
        height: 2rem;

    }

    .Apellidos{
        transform: translateY(4rem) translateX(-3rem) scale(0.7);
    }

    #surname{
        width: 100%;
        margin-left: 6rem;
        
    }

    .Correo{
        transform: translateY(4rem) translateX(-3rem) scale(0.7);
    }

    #mail{
        width: 100%;
        margin-left: 6rem;

    }

    .documentodeidentidad{
        transform: translateY(4rem) translateX(-3rem) scale(0.7);
    }

    #id{
        width: 100%;
        margin-left: 6rem;
        
    }

    .bttm {
        margin-left: 9rem;
        margin-top: 3rem;
        width: 10rem;
        height: 4rem;
    }

    .fpswrd{
        margin-top: 9.5rem;
        margin-left: 7.3rem;
    }
}

/*PANTALLA RESOLUCION ANCHO 1366*/

@media screen and (max-width: 1366px){

    body .topbar{
        padding: 8px;
    }

    .container{
        padding-bottom: 3.28rem;
    }

    .bttm {
        margin-left: 7rem;
        margin-top: 21rem;
        width: 10rem;
        height: 4rem;
    }

    .tarjetareg{
        height: 44rem;
    }

    .Nombre{
        margin-left: 5.4rem;
        transform: translateY(4rem) translateX(-4.2rem) scale(0.6);
    }

    #name{
        margin-left: 5.4rem;
        height: 2.2rem;
    }

    .Apellidos{
        margin-left: 5.4rem;
        transform: translateY(4rem) translateX(-4.2rem) scale(0.6);
    }

    #surname{
        margin-left: 5.4rem;    
        height: 2.2rem; 
    }

    .lineamedio{
        height: 42rem;
        margin-top: 1rem;
        margin-left: 10rem;
    }

    .bttm {
        transform: translateY(-1rem) ;
    }



    .parteizquierda{
        width: 39rem;
    }
}