
body{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    background-color: #444444;
}


.Error p{
    overflow: hidden;
    border-right: .15em solid orange;
    color: aliceblue;
    font-size:  4rem;
    font-family: 'Nunito',serif;
    font-weight: bolder;
    margin: auto;
    letter-spacing: .1em;
    white-space: nowrap;
    animation: 
        typing 0.6s steps(10,end),
        cursor 0.6s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}
  